<div class="flex items-stretch">
  <a href="#" class="flex items-center hover:bg-gray-100 rounded-sm"><span class="material-icon">chevron_left</span></a>
  <a href="#" class="px-3 py-2 text-sm font-medium bg-white hover:bg-gray-100 w-12 h-16 flex flex-col items-center justify-center rounded-sm">
    <span class="text-xs">Mon</span>
    <span class="text-lg font-semibold">12</span>
  </a>
  <a href="#" class="px-3 py-2 text-sm font-medium bg-white hover:bg-gray-100 w-12 h-16 flex flex-col items-center justify-center rounded-sm">
    <span class="text-xs">Tue</span>
    <span class="text-lg font-semibold">13</span>
  </a>
  <a href="#" class="px-3 py-2 text-sm font-medium bg-white hover:bg-gray-100 w-12 h-16 flex flex-col items-center justify-center rounded-sm">
    <span class="text-xs">Wed</span>
    <span class="text-lg font-semibold">14</span>
  </a>
  <a href="#" class="px-3 py-2 text-sm font-medium text-white bg-lime-600 w-12 h-16 flex flex-col items-center justify-center rounded-sm">
    <span class="text-xs">Thu</span>
    <span class="text-lg font-semibold">15</span>
  </a>
  <a href="#" class="px-3 py-2 text-sm font-medium bg-white hover:bg-gray-100 w-12 h-16 flex flex-col items-center justify-center rounded-sm">
    <span class="text-xs">Fri</span>
    <span class="text-lg font-semibold">16</span>
  </a>
  <a href="#" class="px-3 py-2 text-sm font-medium bg-white hover:bg-gray-100 w-12 h-16 flex flex-col items-center justify-center rounded-sm">
    <span class="text-xs">Sat</span>
    <span class="text-lg font-semibold">17</span>
  </a>
  <a href="#" class="px-3 py-2 text-sm font-medium bg-white hover:bg-gray-100 w-12 h-16 flex flex-col items-center justify-center rounded-sm">
    <span class="text-xs">Sun</span>
    <span class="text-lg font-semibold">18</span>
  </a>
  <a href="#" class="flex items-center hover:bg-gray-100 rounded-sm"><span class="material-icon">chevron_right</span></a>
</div>

