<div>
  <h1 class="font-semibold mb-4">Meals</h1>
  <ul>
    <li class="cursor-pointer p-3 bg-white mb-2 hover:bg-gray-50 rounded-sm border border-gray-300">
      <div class="flex justify-between items-center">
        <div>
          <h1 class="text-base font-semibold">Breakfast</h1>
        </div>
        <div class="flex items-center">
          <div class="text-sm mr-2">
            <span class="font-bold">300</span>
            <span class="text-gray-500 font-light">kcal</span>
          </div>
          <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
          </svg>
        </div>
      </div>
      <footer class="text-gray-500 mt-1 text-xs">
        <span>P: 30.5g</span> &bull; <span>F: 22.1g</span> &bull;
        <span>C: 55.2g</span>
      </footer>
    </li>
    <li class="cursor-pointer p-3 bg-lime-50 mb-2 rounded-sm border border-lime-500">
      <div class="flex justify-between items-center">
        <div>
          <h1 class="text-base font-semibold">Lunch</h1>
        </div>
        <div class="flex items-center">
          <div class="text-sm mr-2">
            <span class="font-bold">650</span>
            <span class="text-gray-500 font-light">kcal</span>
          </div>
          <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
          </svg>
        </div>
      </div>
      <footer class="text-gray-500 mt-1 text-xs">
        <span>P: 30.5g</span> &bull; <span>F: 22.1g</span> &bull;
        <span>C: 55.2g</span>
      </footer>
    </li>
  </ul>
  <button class="px-4 py-2 text-sm font-medium text-white bg-lime-600 hover:bg-lime-700 w-full rounded-sm">Add meal</button>
</div>
