<div class="p-4 bg-white rounded-sm border border-gray-300 grid grid-cols-3 gap-4">
  <!-- calories -->
  <div class="col-span-3">
    <div>
      <span class="text-3xl font-bold">1600</span>
      <span class="text-sm text-gray-400">/ 2400kcal</span>
    </div>
    <div class="bg-gray-200">
      <div class="bg-lime-500 h-2.5" style="width: 66%"></div>
    </div>
  </div>

  <!-- protein -->
  <div>
    <div>Protein</div>
    <div>80<span class="text-gray-400">/120g</span></div>
    <div class="bg-gray-200">
      <div class="bg-blue-500 h-1.5" style="width: 66%"></div>
    </div>
  </div>

  <!-- Fat -->
  <div>
    <div>Fat</div>
    <div>50<span class="text-gray-400">/70g</span></div>
    <div class="bg-gray-200">
      <div class="bg-orange-500 h-1.5" style="width: 71%"></div>
    </div>
  </div>

  <!-- Carbs -->
  <div>
    <div>Carbs</div>
    <div>200<span class="text-gray-400">/300g</span></div>
    <div class="bg-gray-200">
      <div class="bg-green-500 h-1.5" style="width: 66%"></div>
    </div>
  </div>
</div>
