<div class="flex items-stretch">
  <a href="#" class="flex-none flex items-center hover:bg-gray-100 rounded-sm"><span class="material-icon">chevron_left</span></a>
  <% Date.today.beginning_of_week.upto(Date.today.end_of_week) do |date| %>
    <%= weekday_link date %>
  <% end %>
  <a href="#" class="flex-none flex items-center hover:bg-gray-100 rounded-sm"><span class="material-icon">chevron_right</span></a>
</div>

