<h1 class="p-4 text-xl font-bold bg-gray-200 sticky top-0 z-100">Pantry</h1>

<section class="flex flex-col p-4 gap-4 overflow-auto">
  <div class="flex items-stretch gap-4">
    <input type="search" name="product-search" placeholder="Search products..." class="min-w-10 flex-1 px-3 py-2 border border-gray-300 rounded-sm bg-white" />
    <%= link_to "Add product", new_product_path, class: "flex-none px-3 py-2 font-medium text-white bg-lime-600 hover:bg-lime-700 rounded-sm" %>
  </div>

  <%= render @products %>
</section>
