<h1 class="text-5xl text-amber-400 text-center">Products</h1>

<table class="w-full">
  <thead>
    <th>Name</th>
    <th>Calories</th>
    <th>Protein</th>
    <th>Fat</th>
    <th>Carbs</th>
  </thead>
  <tbody>
    <%= render @products %>
  </tbody>
</table>
