<% content_for :body do %>
  <nav class="fixed w-12 h-screen flex flex-col gap-2 justify-start items-center text-2xl bg-lime-900 text-lime-300/60">
    <a title="Dashboard" href="/" class="material-icon p-2 hover:text-white">home</a>
    <a title="Pantry" href="/products" class="material-icon bg-lime-600 p-2 text-white rounded-sm">shelves</a>
    <a title="Recipes" href="/recipes" class="material-icon p-2 hover:text-white">chef_hat</a>
    <a title="Statistics" href="/statistics" class="material-icon p-2 hover:text-white">monitoring</a>
    <a title="Settings" href="/settings" class="material-icon p-2 hover:text-white">settings</a>
  </nav>

  <main class="ml-12 flex flex-col" data-controller="page">
    <%= yield %>
  </main>
<% end %>

<%= render template: "layouts/base" %>
